/*-----------------------*/
/*         Game          */
/*-----------------------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #4d4d4d;
} 

.BodyGrid  {
    display: grid;
    grid-template-columns:  0.5fr 2fr 0.5fr ;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 25px;
    height: 92vh;
}

.container01{
    width: 100%;
    padding: 50px;
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
}
.slot-wrapper{
    border: #696969;
    border-style: solid;
    border-width: 10px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.container01 p{
    color: rgb(236, 236, 236);
    font-size: 20px;
    margin: 30px 0;
    font-weight: 500;
}
button{
    background-color: #919191;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

#die-1, 
#die-2,
#die-3 {
    margin: 10px;
}

.shake{
    animation: shake 0.2s infinite;
}

@keyframes shake{
    0%{
        transform: rotate(360deg) scale(0.5);
    }
    25%{
        transform: rotate(-360deg) scale(0.5);
    }
    50%{
        transform: rotate(360deg) scale(0.5);
    }
    75%{
        transform: rotate(-360deg) scale(0.5);
    }
    100%{
        transform: rotate(360deg) scale(0.5);
    }
} 

/*-----------------------*/
/*    Box to the left    */
/*-----------------------*/

.container02{
    width: 100%;
    padding: 50px;
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    background: linear-gradient(#5a5a5a, #464545);
    box-shadow: 0 15px 25px rgba(50,50,50,0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
    padding: 10px;
    margin: 5px;
}

.TimesWon,
.TimesLost {
    margin-top: 1.5rem;
}

.box-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #d1d1d1;
}

.container02 p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin: 30px 0;
    font-weight: 500;
}

/*------------------------*/
/* Box to the left bottom */
/*------------------------*/

.container03{
    width: 100%;
    padding: 50px;
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    background: linear-gradient(#5a5a5a, #464545);
    box-shadow: 0 15px 25px rgba(50,50,50,0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
    padding: 10px;
    margin: 5px;
}

.box-wrapper2{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #d1d1d1;
}

.container03 p{
    color: rgb(192, 192, 192);
    font-size: 16px;
    margin: 10px 0;
    font-weight: 500;
}

/*-----------------------*/
/* Bar on top of website */
/*-----------------------*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --header-height: 55px;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: linear-gradient(#383838, #3d3d3d);
    box-shadow: 0 1px 10px 0 rgb(255, 255, 255);
    height: var(--header-height);
  }

.header h1 {
   color: rgb(255, 255, 255);
   top: 0;
   margin-left: 3vmax;
   text-transform:capitalize;
   font-size: 200%;
}

  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
 
 a {
     color: rgb(252, 252, 252);
     display: inline-block;
     text-decoration: none;
     background-color:#686868;
     padding: 15px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     margin-right: 1vmax;
     font-size: large;
 }
 a:hover {
     color: rgb(255, 255, 255);
     background-color: #8d8d8d;
 }