/*-----------------------*/
/*     Intro screen      */
/*-----------------------*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("Extra/OrangeSky.jpg");
}

@font-face {
  src: url("Extra/ReggaeOne-Regular.ttf");
  font-family: Japanese;
}

.splash{
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;

}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.fade-in {
  margin: 5rem;
  opacity: 0;
  font-size: 10vmin;
  background: linear-gradient(45deg, rgb(80, 79, 79), rgb(102, 38, 38), rgb(209, 139, 139));
  text-shadow: 0 0 3px #ff00003b, 0 0 5px #96969677;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: Japanese;
  animation: fadeIn 1.5s ease-in forwards;
}

nav {
  background: none;
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  gap: 10px;
}

a {
  text-decoration: none;
  font-family: Japanese;
}

.index {
  opacity: 0;
  grid-column-start: 3;
  grid-row-start: 1;
  background: none;
  color: rgb(0, 0, 0);
  display: inline-block;
  background-color:#d36f12;
  padding: 1.12vmax;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
  font-size: 1vmax;
  animation: fadeIn 1.5s linear forwards;
  animation-delay: 2s;
}
.index:hover {
  color: rgb(0, 0, 0);
  background-color: #e7971f;
}

.Blackjack {
  opacity: 0;
  grid-column-start: 3;
  grid-row-start: 2;
  background: none;
  color: rgb(252, 252, 252);
  display: inline-block;
  background-color:#127e12;
  padding: 1.12vmax;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
  font-size: 1vmax;
  animation: fadeIn 1.5s linear forwards;
  animation-delay: 2.5s;
}

.Blackjack:hover {
  color: rgb(255, 255, 255);
  background-color: #11c046;
}

.Roulette {
  opacity: 0;
  grid-column-start: 3;
  grid-row-start: 3;
  background: none;
  color: rgb(0, 0, 0);
  display: inline-block;
  background-color:#3c93e4;
  padding: 1.12vmax;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
  font-size: 1vmax;
  animation: fadeIn 1.5s linear forwards;
  animation-delay: 3s;
}

.Roulette:hover {
  color: rgb(0, 0, 0);
  background-color: #0868b6;
}

.Slot {
  opacity: 0;
  grid-column-start: 3;
  grid-row-start: 4;
  background: none;
  color: rgb(252, 252, 252);
  display: inline-block;
  background-color:#686868;
  padding: 1.12vmax;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
  font-size: 1vmax;
  animation: fadeIn 1.5s linear forwards;
  animation-delay: 3.5s;
}

.Slot:hover {
  color: rgb(255, 255, 255);
  background-color: #8d8d8d;
}

.Dice {
  opacity: 0;
  grid-column-start: 3;
  grid-row-start: 5;
  background: none;
  color: rgb(252, 252, 252);
  display: inline-block;
  background-color:#c52121;
  padding: 1.12vmax;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
  font-size: 1vmax;
  animation: fadeIn 1.5s linear forwards;
  animation-delay: 4s;
}

.Dice:hover {
  color: rgb(255, 255, 255);
  background-color: #a01414;
}